.bal-wrapper{
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.bal{
    width: 100%;
    height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 30px;
    line-height: 50px;
    font-size: 25px;
    background-color: hsl(0,0%,85%);
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .70);
    border: 1px solid #000;
}