header{
    width: 100%;
    height: 100%;
    margin: auto auto;
    position: relative;
}

.app-ear-speak{
    width: 40%;
    height: 50px;
    background-color: hsl(216,5%,19%);
    margin: auto auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -13px;
}

.app-ear-speak .ear-speak{
    width: 50px;
    height: 7px;
    border: 2px solid hsl(205,3%,55%);
    border-radius: 50px;
    margin-right: 5px;

}

.app-ear-speak .camera{
    width: 12px;
    height: 12px;
    border: 2px solid hsl(205,3%,55%);
    border-radius: 100px;
    margin-left: 5px;

}

.headings,.menu{
    width: 97%;
    /* height: 100%; */
    margin: 0px auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    position: relative;
    top: -35px;
}

.headings > p{
    font-weight: 700;
    margin-left: 30px;
}

.headings .networks .marginLeft{
    margin-left: 10px;
}

.menu{
    margin-top: 10px;
}

.logo-wrapper{
    height: 30px;
    font-size: 24px;
    font-weight: 700;
    padding: 3px 35px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
}

.userNoti-wrapper .user{
    font-size: 48px;
    color: hsl(352,95%,65%);
    margin-right: 15px;
}

.userNoti-wrapper .bell{
    font-size: 25px;
    margin-bottom: 10px;
    color: hsl(352,95%,58%)
}
