header{
    width: 100%;
    height: 100%;
    margin: auto auto;
    position: relative;
}

.app-ear-speak{
    width: 40%;
    height: 50px;
    background-color: hsl(216,5%,19%);
    margin: auto auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -13px;
}

.app-ear-speak .ear-speak{
    width: 50px;
    height: 7px;
    border: 2px solid hsl(205,3%,55%);
    border-radius: 50px;
    margin-right: 5px;

}

.app-ear-speak .camera{
    width: 12px;
    height: 12px;
    border: 2px solid hsl(205,3%,55%);
    border-radius: 100px;
    margin-left: 5px;

}

.headings,.menu{
    width: 97%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    position: relative;
    top: -35px;
}

.headings > p{
    font-weight: 700;
    margin-left: 30px;
}

.headings .networks .marginLeft{
    margin-left: 10px;
}

.menu{
    margin-bottom: 0px;
    top: 0px;
}

.logo-wrapper{
    height: 30px;
    font-size: 24px;
    font-weight: 700;
    padding: 3px 35px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
}

.logo-wrapper .activeStyle{
    text-decoration: none;
    color: #000;
}

.userNoti-wrapper .user{
    font-size: 48px;
    color: hsl(352,95%,65%);
    margin-right: 15px;
}

.userNoti-wrapper .bell{
    font-size: 25px;
    margin-bottom: 10px;
    color: hsl(352,95%,58%)
}

@media screen and (max-width: 768px) {
    .app-ear-speak{
        width: 50%;
    }
    
    .app-ear-speak .ear-speak{
        height: 5px;
    }

    .headings{
        width: 93%;
        font-size: 18px;
    }
    .logo-wrapper{
        height: 25px;
        font-size: 20px;
        font-weight: 700;
        padding: 3px 30px;
        padding-top: 4px;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
    }
    
    .userNoti-wrapper .user{
        font-size: 40px;
    }
    
    .userNoti-wrapper .bell{
        font-size: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    .app-ear-speak{
        width: 40%;
        height: 35px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        top: -2px;
    }

    .app-ear-speak .camera{
        width: 8px;
        height: 8px;
    }
    
    .app-ear-speak .ear-speak{
        width: 30px;
        height: 4px;
        border: 2px solid hsl(205,3%,55%);
        border-radius: 50px;
        margin-right: 5px;
    }

    .headings{
        width: 95%;
        font-size: 14px;
        top: -25px;
    }

    .headings > p{
        font-weight: 700;
        margin-left: 20px;
    }
    
    .headings .networks .marginLeft{
        margin-left: 5px;
    }

    #marRight {
        margin-right: 15px;
    }

    .logo-wrapper{
        height: 15px;
        font-size: 16px;
        font-weight: 700;
        padding: 3px 20px;
        padding-top: 4px;
    }
    
    .userNoti-wrapper .user{
        font-size: 30px;
    }
    
    .userNoti-wrapper .bell{
        font-size: 15px;
    }

    .userNoti-wrapper{
        padding-bottom: 5px;
    }

  }