@import "./styles/header.css";
@import "./styles/balance.css";
@import "./styles/selectcurrency.css";
@import "./styles/activity.css";
@import "./styles/footer.css";

*{
  margin: 0;
  padding: 0;
}

 body {
  font-family: "Roboto","RobotoDraft","Helvetica","Arial","sans-serif";
  font-weight: 400;
  font-size: 1em;
  background-color: hsl(216,5%,19%);
}

.App{
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.container{
  width: 70%;
  height: 100%;
  margin: 40px auto;
  border-radius: 50px;
  border: 1px solid hsl(205,3%,55%);
}

.main{
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.border{
  width: 94%;
  margin: 3% auto;
  background-color: #FFF;
  border-radius: 50px;
} 

@media screen and (max-width: 768px) {
  .border{
    width: 90%;
    margin-top: 4.5%;
  } 
}

@media screen and (max-width: 500px) {
  .border{
    width: 90%;
    margin-top: 4.5%;
  } 
}